### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [2]:
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to Change These)
file_to_load = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(file_to_load)

In [3]:
purchase_data.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

In [4]:
#check for missing/na
purchase_data.count()

Purchase ID    780
SN             780
Age            780
Gender         780
Item ID        780
Item Name      780
Price          780
dtype: int64

## Player Count

* Display the total number of players

In [24]:
# of players
players = len(purchase_data.SN.unique())

print(f'The total number of players is: {players}')

The total number of players is: 576

In [25]:
players1 = len(purchase_data['SN'].unique())

print(f'The total number of players is: {players1}')

The total number of players is: 576

In [15]:
#view in dataframe
players_df = pd.DataFrame({"Total # of Players": [players]})

players_df

   Total # of Players
0                 576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [32]:
unique_items = len(purchase_data['Item ID'].unique())
print(f'The # of unique items is: {unique_items}')

avg_price= round(purchase_data['Price'].mean(),2)
print(f'The average price is: {avg_price}')

total_purchases= len(purchase_data['Purchase ID'])
print(f'The total purchases is {total_purchases}')

total_revenue= round(sum(purchase_data['Price']),2)
print(f'The total revenue is: {total_revenue}')

The # of unique items is: 183
The average price is: 3.05
The total purchases is 780
The total revenue is: 2379.77

In [38]:
purchase_analysis_df = pd.DataFrame({'Total # of Players': [players], 
                                     'The # of unique items is': [unique_items],
                                     'The average price is': [avg_price],
                                     'The total purchases is': [total_purchases],
                                     'The total revenue is': [total_revenue]
                                    })
purchase_analysis_df

,Total # of Players,The # of unique items is,The average price is,The total purchases is,The total revenue is
0,576,183,3.05,780,2379.77

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [53]:
gender = purchase_data.drop_duplicates('SN')
gender

gender_count = gender['Gender'].value_counts()
print(gender_count)

gender_percent = (gender['Gender'].value_counts()/players)*100
print(gender_percent)

Male                     484
Female                    81
Other / Non-Disclosed     11
Name: Gender, dtype: int64
Male                     84.027778
Female                   14.062500
Other / Non-Disclosed     1.909722
Name: Gender, dtype: float64

In [65]:
#present data in dataframe
gender_df = pd.DataFrame({
                          'Count': gender_count,
                          'Percent of Total Players': gender_percent.map('{:.2f}%'.format)
                        })
gender_df

                       Count Percent of Total Players
Male                     484                   84.03%
Female                    81                   14.06%
Other / Non-Disclosed     11                    1.91%

In [68]:
#Note to self: ".map('{:.2f}%'.format))" -> formats numbers well
print(gender_percent.map('{:.2f}%'.format))

gender_percent

Male                     84.03%
Female                   14.06%
Other / Non-Disclosed     1.91%
Name: Gender, dtype: object

Male                     84.027778
Female                   14.062500
Other / Non-Disclosed     1.909722
Name: Gender, dtype: float64


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [76]:
#purchases by each gender
gender_purchase_data = purchase_data.groupby('Gender')
gender_purchase_count = gender_purchase_data['Gender'].count()
gender_purchase_count

Gender
Female                   113
Male                     652
Other / Non-Disclosed     15
Name: Gender, dtype: int64

In [77]:
#average purchase pirce
gender_purchase_mean = gender_purchase_data['Price'].mean()
gender_purchase_mean

Gender
Female                   3.203009
Male                     3.017853
Other / Non-Disclosed    3.346000
Name: Price, dtype: float64

In [78]:
#total revenue
gender_purchase_total = gender_purchase_data['Price'].sum()
gender_purchase_total

Gender
Female                    361.94
Male                     1967.64
Other / Non-Disclosed      50.19
Name: Price, dtype: float64

In [79]:
gender_purchase_data_df = pd.DataFrame({
                                        'Number of Players': gender_count,
                                        'Purchase Count': gender_purchase_count,
                                        'Avg Purchase Price': gender_purchase_mean.map('${:,.2f}'.format),
                                        'Total Revenue': gender_purchase_total.map('${:,.2f}'.format),
                                      })
gender_purchase_data_df

,Number of Players,Purchase Count,Avg Purchase Price,Total Revenue
Female,81,113,$3.20,$361.94
Male,484,652,$3.02,"$1,967.64"
Other / Non-Disclosed,11,15,$3.35,$50.19

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [4]:
purchase_data.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

In [21]:
bins = [0, 9, 14, 19, 24, 29, 34, 39, 40]

group_labels = ['<10', '10-14', '15-19', '20-24', '25-29', '30-34', '35-39', '40+']

In [28]:
#categorize the existing players using the age bins
purchase_data['suh'] =  pd.cut(purchase_data['Age'], bins, labels=group_labels)

In [29]:
players_by_age = purchase_data.groupby('suh').SN.nunique()
players_by_age

suh
<10       17
10-14     22
15-19    107
20-24    258
25-29     77
30-34     52
35-39     31
40+        5
Name: SN, dtype: int64

In [30]:
age_demo = pd.DataFrame({
'Total Count': players_by_age,
'Percentage of Players': (players_by_age / purchase_data.SN.nunique() * 100).map("{:.2f}".format)
                        })
age_demo

       Total Count Percentage of Players
suh
<10             17                  2.95
10-14           22                  3.82
15-19          107                 18.58
20-24          258                 44.79
25-29           77                 13.37
30-34           52                  9.03
35-39           31                  5.38
40+              5                  0.87

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [36]:
#isolate columns needed for chunk in two frames
purchase_count_age = purchase_data[['age_group', 'Purchase ID']]
purchase_values_age = purchase_data[['age_group', 'Price']]

#totals purchase by age bin
total_purchase_age = purchase_count_age.groupby('age_group').count() 

#Dollar values of purchase by age
total_purchase_values_age = purchase_values_age.groupby('age_group').sum()

#display summary df
purchasing_age_analysis = pd.DataFrame({
    'Purchase Count': total_purchase_age['Purchase ID'],
    'Average Purchase Price': (total_purchase_values_age['Price'] / total_purchase_age['Purchase ID']).map("${:.2f}".format),
    'Total Purchase Value': total_purchase_values_age['Price'].map("${:.2f}".format),
    'Total Purchase Per Person': total_purchase_values_age['Price']
                                                        
    
                                        })
purchasing_age_analysis

,Purchase Count,Average Purchase Price,Total Purchase Value,Total Purchase Per Person
age_group,,,,
<10,23,$3.35,$77.13,77.13
10-14,28,$2.96,$82.78,82.78
15-19,136,$3.04,$412.89,412.89
20-24,365,$3.05,$1114.06,1114.06
25-29,101,$2.90,$293.00,293.00
30-34,73,$2.93,$214.00,214.00
35-39,41,$3.60,$147.67,147.67
40+,6,$2.79,$16.71,16.71

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [119]:
#Count purchases made by unique SN
spender_purchase = purchase_data["SN"].value_counts()

#Calculate the average purchase by unique SN
spender_average_purchase = purchase_data["Price"].groupby(purchase_data["SN"]).mean()

#Calculate the total revenue from each unique SN
spender_total_purchase = purchase_data["Price"].groupby(purchase_data["SN"]).sum()

#display summary df
big_spenders = pd.DataFrame({
    "Purchase Count":spender_purchase,
    "Average Purchase Price":spender_average_purchase,
    "Total Purchase Value":spender_total_purchase
})

#create df, sort and format
big_spenders_sorted = big_spenders.sort_values("Total Purchase Value", ascending= False)
big_spenders_sorted["Average Purchase Price"] = big_spenders_sorted["Average Purchase Price"].map("${:.2f}".format)
big_spenders_sorted["Total Purchase Value"] = big_spenders_sorted["Total Purchase Value"].map("${:.2f}".format)

#print top 5
big_spenders_sorted[:5]

             Purchase Count Average Purchase Price Total Purchase Value
Lisosia93                 5                  $3.79               $18.96
Idastidru52               4                  $3.86               $15.45
Chamjask73                3                  $4.61               $13.83
Iral74                    4                  $3.40               $13.62
Iskadarya95               3                  $4.37               $13.10

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [122]:
#isolate columned needed
popular_items = purchase_data[['Item ID', 'Item Name', 'Price']]


#count transactions for each item
items_purchase = popular_items.groupby(["Item ID","Item Name"])["Price"].count()
#Price of each item
item_price= popular_items.groupby(["Item ID","Item Name"])["Price"].mean()
#Calculate total revenue from each item
popular_purchase_value = popular_items.groupby(["Item ID","Item Name"])["Price"].sum()

#display summary df
popular_items = pd.DataFrame({
    "Purchase Count":items_purchase,
    "Item Price":item_price,
    "Total Purchase Value":popular_purchase_value
})


#create new df, sort and format
popular_items_sorted = popular_items.sort_values("Purchase Count", ascending= False)
popular_items_sorted["Item Price"]= popular_items_sorted["Item Price"].map("${:.2f}".format)
popular_items_sorted["Total Purchase Value"]= popular_items_sorted["Total Purchase Value"].map("${:.2f}".format)

#print the DF
popular_items_sorted[:5]

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
178,"Oathbreaker, Last Hope of the Breaking Storm",12,$4.23,$50.76
145,Fiery Glass Crusader,9,$4.58,$41.22
108,"Extraction, Quickblade Of Trembling Hands",9,$3.53,$31.77
82,Nirvana,9,$4.90,$44.10
19,"Pursuit, Cudgel of Necromancy",8,$1.02,$8.16

In [126]:
popular_items

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
0,Splinter,4,1.28,5.12
1,Crucifer,3,3.26,9.78
2,Verdict,6,2.48,14.88
3,Phantomlight,6,2.49,14.94
4,Bloodlord's Fetish,5,1.70,8.50
...,...,...,...,...
179,"Wolf, Promise of the Moonwalker",6,4.48,26.88
180,Stormcaller,1,3.36,3.36
181,Reaper's Toll,5,1.66,8.30
182,Toothpick,3,4.03,12.09
183,Dragon's Greatsword,3,1.09,3.27

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame

In [125]:
#re-sort above table by total purchase
popular_items_sorted_purchase = popular_items.sort_values("Total Purchase Value", ascending= False)
popular_items_sorted_purchase["Item Price"]= popular_items_sorted_purchase["Item Price"].map("${:.2f}".format)
popular_items_sorted_purchase["Total Purchase Value"]= popular_items_sorted_purchase["Total Purchase Value"].map("${:.2f}".format)

#print the DF
popular_items_sorted_purchase[:5]

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
178,"Oathbreaker, Last Hope of the Breaking Storm",12,$4.23,$50.76
82,Nirvana,9,$4.90,$44.10
145,Fiery Glass Crusader,9,$4.58,$41.22
92,Final Critic,8,$4.88,$39.04
103,Singed Scalpel,8,$4.35,$34.80